___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 4: Work with data professionally!

## Lab work 4

#### Мета: 

* навчитися обробляти дані
* "парсити" сайти

### Завдання 1:

#### Ознайомитися із API Національного банку 
https://old.bank.gov.ua/control/uk/publish/article?art_id=38441973&cat_id=38459171#exchange

1. Підключитися до API.

In [22]:
import requests

url = 'https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json'
params = {'valcode' : 'EUR'} 

response = requests.get(url, params=params)
print(response)

<Response [200]>

2. Отримати курс євро за останній рік.

In [5]:
import datetime as DT
import requests
# date.strftime('%Y%m%d')
params = {'valcode' : 'EUR'}
start_time = DT.datetime.now() - DT.timedelta(weeks=52.1786) # В 1 році 52.1786 тижнів або 365.25 діб
print(start_time)

2021-10-26 05:48:19.716015

In [20]:
import time
import datetime as DT
import requests

# url = 'https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json'
# params = {'valcode' : 'EUR'}
annual_exchange_rate_EURO = {}

params = {'date' : '20221018', 'valcode' : 'EUR'}#, 'json' : 'json'}
url = 'https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json'
date = DT.datetime.now()
# start_time = DT.datetime.now() - DT.timedelta(weeks=52.1786)

for day in range(366):
    time.sleep(1)
#     start_time += DT.timedelta(days=day)
#     date = start_time.strftime('%Y%m%d')
    params['date'] = (date - DT.timedelta(days=day)).strftime('%Y%m%d')
#     params = {'date' : f'{date}', 'valcode' : 'EUR'}
#     params['date'] = start_time.strftime('%Y%m%d')
#     print(params['date'])
    try:
        response = requests.get(url, params=params)
        data = response.json()[0]
        annual_exchange_rate_EURO[data['exchangedate']] = data['rate']
        start_time += DT.timedelta(days=day)
        
    except:
        print(day, 'error')
        print(response.text)
        break
annual_exchange_rate_EURO

10 error
<html>
<head>
<META NAME="robots" CONTENT="noindex,nofollow">
<script src="/_Incapsula_Resource?SWJIYLWA=5074a744e2e3d891814e9a2dace20bd4,719d34d31c8e3a6e6fffd425f7e032f3">
</script>
<body>
</body></html>

{'26.10.2022': 36.0804,
 '25.10.2022': 35.9579,
 '24.10.2022': 35.6379,
 '23.10.2022': 35.8866,
 '22.10.2022': 35.8866,
 '21.10.2022': 35.8866,
 '20.10.2022': 35.7623,
 '19.10.2022': 35.9451,
 '18.10.2022': 35.6196,
 '17.10.2022': 35.5337}

In [23]:
import time
import datetime as DT
import requests

annual_exchange_rate_EURO = {}

params = {'date' : '20221018', 'valcode' : 'EUR'}#, 'json' : 'json'}
url = 'https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json'
date = DT.datetime.now()

for day in range(366):
    params['date'] = (date - DT.timedelta(days=day)).strftime('%Y%m%d')
    try:
        response = requests.get(url, params=params)
        data = response.json()[0]
        annual_exchange_rate_EURO[data['exchangedate']] = data['rate']
        start_time += DT.timedelta(days=day)
        
    except:
        print('error')
        break
annual_exchange_rate_EURO

{'26.10.2022': 36.0804,
 '25.10.2022': 35.9579,
 '24.10.2022': 35.6379,
 '23.10.2022': 35.8866,
 '22.10.2022': 35.8866,
 '21.10.2022': 35.8866,
 '20.10.2022': 35.7623,
 '19.10.2022': 35.9451,
 '18.10.2022': 35.6196,
 '17.10.2022': 35.5337,
 '16.10.2022': 35.6306,
 '15.10.2022': 35.6306,
 '14.10.2022': 35.6306,
 '13.10.2022': 35.5026,
 '12.10.2022': 35.5465,
 '11.10.2022': 35.4587,
 '10.10.2022': 35.797,
 '09.10.2022': 36.0768,
 '08.10.2022': 36.0768,
 '07.10.2022': 36.0768,
 '06.10.2022': 36.2157,
 '05.10.2022': 36.1682,
 '04.10.2022': 35.7074,
 '03.10.2022': 35.6361,
 '02.10.2022': 35.5611,
 '01.10.2022': 35.5611,
 '30.09.2022': 35.5611,
 '29.09.2022': 34.9742,
 '28.09.2022': 35.2576,
 '27.09.2022': 35.2375,
 '26.09.2022': 35.6654,
 '25.09.2022': 36.0768,
 '24.09.2022': 36.0768,
 '23.09.2022': 36.0768,
 '22.09.2022': 36.2084,
 '21.09.2022': 36.5247,
 '20.09.2022': 36.5064,
 '19.09.2022': 36.4607,
 '18.09.2022': 36.5137,
 '17.09.2022': 36.5137,
 '16.09.2022': 36.5137,
 '15.09.2022': 36.543,
 '14.09.2022': 37.2159,
 '13.09.2022': 37.097,
 '12.09.2022': 36.7112,
 '11.09.2022': 36.6491,
 '10.09.2022': 36.6491,
 '09.09.2022': 36.6491,
 '08.09.2022': 36.1371,
 '07.09.2022': 36.287,
 '06.09.2022': 36.2614,
 '05.09.2022': 36.5339,
 '04.09.2022': 36.5832,
 '03.09.2022': 36.5832,
 '02.09.2022': 36.5832,
 '01.09.2022': 36.5704,
 '31.08.2022': 36.6564,
 '30.08.2022': 36.554,
 '29.08.2022': 36.5467,
 '28.08.2022': 36.4808,
 '27.08.2022': 36.4808,
 '26.08.2022': 36.4808,
 '25.08.2022': 36.3053,
 '24.08.2022': 36.298,
 '23.08.2022': 36.5686,
 '22.08.2022': 36.7441,
 '21.08.2022': 37.2177,
 '20.08.2022': 37.2177,
 '19.08.2022': 37.2177,
 '18.08.2022': 37.1738,
 '17.08.2022': 37.033,
 '16.08.2022': 37.2817,
 '15.08.2022': 37.5943,
 '14.08.2022': 37.7516,
 '13.08.2022': 37.7516,
 '12.08.2022': 37.7516,
 '11.08.2022': 37.5102,
 '10.08.2022': 37.3804,
 '09.08.2022': 37.2963,
 '08.08.2022': 37.417,
 '07.08.2022': 37.2104,
 '06.08.2022': 37.2104,
 '05.08.2022': 37.2104,
 '04.08.2022': 37.2488,
 '03.08.2022': 37.3804,
 '02.08.2022': 37.4133,
 '01.08.2022': 37.3365,
 '31.07.2022': 36.9965,
 '30.07.2022': 36.9965,
 '29.07.2022': 36.9965,
 '28.07.2022': 37.1244,
 '27.07.2022': 37.0568,
 '26.07.2022': 37.4115,
 '25.07.2022': 37.2177,
 '24.07.2022': 37.2689,
 '23.07.2022': 37.2689,
 '22.07.2022': 37.2689,
 '21.07.2022': 29.8064,
 '20.07.2022': 29.998,
 '19.07.2022': 29.6645,
 '18.07.2022': 29.4173,
 '17.07.2022': 29.2754,
 '16.07.2022': 29.2754,
 '15.07.2022': 29.2754,
 '14.07.2022': 29.4494,
 '13.07.2022': 29.3675,
 '12.07.2022': 29.5109,
 '11.07.2022': 29.701,
 '10.07.2022': 29.8107,
 '09.07.2022': 29.8107,
 '08.07.2022': 29.8107,
 '07.07.2022': 29.8122,
 '06.07.2022': 30.1135,
 '05.07.2022': 30.5816,
 '04.07.2022': 30.526,
 '03.07.2022': 30.4017,
 '02.07.2022': 30.4017,
 '01.07.2022': 30.4017,
 '30.06.2022': 30.7776,
 '29.06.2022': 30.9151,
 '28.06.2022': 30.9122,
 '27.06.2022': 30.7674,
 '26.06.2022': 30.7337,
 '25.06.2022': 30.7337,
 '24.06.2022': 30.7337,
 '23.06.2022': 30.7542,
 '22.06.2022': 30.861,
 '21.06.2022': 30.7952,
 '20.06.2022': 30.6899,
 '19.06.2022': 30.3885,
 '18.06.2022': 30.3885,
 '17.06.2022': 30.3885,
 '16.06.2022': 30.5962,
 '15.06.2022': 30.567,
 '14.06.2022': 30.5626,
 '13.06.2022': 30.9327,
 '12.06.2022': 31.3934,
 '11.06.2022': 31.3934,
 '10.06.2022': 31.3934,
 '09.06.2022': 31.411,
 '08.06.2022': 31.1901,
 '07.06.2022': 31.389,
 '06.06.2022': 31.3876,
 '05.06.2022': 31.2808,
 '04.06.2022': 31.2808,
 '03.06.2022': 31.2808,
 '02.06.2022': 31.3247,
 '01.06.2022': 31.3364,
 '31.05.2022': 31.5031,
 '30.05.2022': 31.3203,
 '29.05.2022': 31.3159,
 '28.05.2022': 31.3159,
 '27.05.2022': 31.3159,
 '26.05.2022': 31.1813,
 '25.05.2022': 31.3437,
 '24.05.2022': 31.1784,
 '23.05.2022': 30.918,
 '22.05.2022': 30.7688,
 '21.05.2022': 30.7688,
 '20.05.2022': 30.7688,
 '19.05.2022': 30.7454,
 '18.05.2022': 30.842,
 '17.05.2022': 30.4792,
 '16.05.2022': 30.3768,
 '15.05.2022': 30.4178,
 '14.05.2022': 30.4178,
 '13.05.2022': 30.4178,
 '12.05.2022': 30.8537,
 '11.05.2022': 30.8727,
 '10.05.2022': 30.861,
 '09.05.2022': 30.9063,
 '08.05.2022': 30.8595,
 '07.05.2022': 30.8595,
 '06.05.2022': 30.8595,
 '05.05.2022': 30.801,
 '04.05.2022': 30.8288,
 '03.05.2022': 30.7659,
 '02.05.2022': 30.8478,
 '01.05.2022': 30.6869,
 '30.04.2022': 30.6869,
 '29.04.2022': 30.6869,
 '28.04.2022': 30.9663,
 '27.04.2022': 31.2223,
 '26.04.2022': 31.4476,
 '25.04.2022': 31.6567,
 '24.04.2022': 31.8264,
 '23.04.2022': 31.8264,
 '22.04.2022': 31.8264,
 '21.04.2022': 31.6787,
 '20.04.2022': 31.5792,
 '19.04.2022': 31.6216,
 '18.04.2022': 31.8235,
 '17.04.2022': 31.7957,
 '16.04.2022': 31.7957,
 '15.04.2022': 31.7957,
 '14.04.2022': 31.6874,
 '13.04.2022': 31.7752,
 '12.04.2022': 31.8952,
 '11.04.2022': 31.7796,
 '10.04.2022': 31.9244,
 '09.04.2022': 31.9244,
 '08.04.2022': 31.9244,
 '07.04.2022': 31.9361,
 '06.04.2022': 32.0795,
 '05.04.2022': 32.176,
 '04.04.2022': 32.3281,
 '03.04.2022': 32.4773,
 '02.04.2022': 32.4773,
 '01.04.2022': 32.4773,
 '31.03.2022': 32.5856,
 '30.03.2022': 32.4217,
 '29.03.2022': 32.0707,
 '28.03.2022': 32.1936,
 '27.03.2022': 32.1233,
 '26.03.2022': 32.1233,
 '25.03.2022': 32.1233,
 '24.03.2022': 32.138,
 '23.03.2022': 32.2345,
 '22.03.2022': 33.1707,
 '21.03.2022': 33.1707,
 '20.03.2022': 33.1707,
 '19.03.2022': 33.1707,
 '18.03.2022': 33.1707,
 '17.03.2022': 33.1707,
 '16.03.2022': 33.1707,
 '15.03.2022': 33.1707,
 '14.03.2022': 33.1707,
 '13.03.2022': 33.1707,
 '12.03.2022': 33.1707,
 '11.03.2022': 33.1707,
 '10.03.2022': 33.1707,
 '09.03.2022': 33.1707,
 '08.03.2022': 33.1707,
 '07.03.2022': 33.1707,
 '06.03.2022': 33.1707,
 '05.03.2022': 33.1707,
 '04.03.2022': 33.1707,
 '03.03.2022': 33.1707,
 '02.03.2022': 33.1707,
 '01.03.2022': 33.1707,
 '28.02.2022': 33.1707,
 '27.02.2022': 33.1707,
 '26.02.2022': 33.1707,
 '25.02.2022': 33.1707,
 '24.02.2022': 33.1707,
 '23.02.2022': 32.9039,
 '22.02.2022': 32.2887,
 '21.02.2022': 32.196,
 '20.02.2022': 32.1969,
 '19.02.2022': 32.1969,
 '18.02.2022': 32.1969,
 '17.02.2022': 31.932,
 '16.02.2022': 32.0283,
 '15.02.2022': 32.3264,
 '14.02.2022': 31.9777,
 '13.02.2022': 31.8785,
 '12.02.2022': 31.8785,
 '11.02.2022': 31.8785,
 '10.02.2022': 31.996,
 '09.02.2022': 31.9255,
 '08.02.2022': 32.0724,
 '07.02.2022': 32.2745,
 '06.02.2022': 31.9198,
 '05.02.2022': 31.9198,
 '04.02.2022': 31.9198,
 '03.02.2022': 32.1419,
 '02.02.2022': 31.8875,
 '01.02.2022': 31.7464,
 '31.01.2022': 32.0293,
 '30.01.2022': 32.3432,
 '29.01.2022': 32.3432,
 '28.01.2022': 32.3432,
 '27.01.2022': 32.4803,
 '26.01.2022': 32.3021,
 '25.01.2022': 32.0594,
 '24.01.2022': 32.1099,
 '23.01.2022': 32.1147,
 '22.01.2022': 32.1147,
 '21.01.2022': 32.1147,
 '20.01.2022': 32.1943,
 '19.01.2022': 32.3406,
 '18.01.2022': 32.0577,
 '17.01.2022': 31.989,
 '16.01.2022': 31.7813,
 '15.01.2022': 31.7813,
 '14.01.2022': 31.7813,
 '13.01.2022': 31.4796,
 '12.01.2022': 31.1722,
 '11.01.2022': 31.116,
 '10.01.2022': 31.1095,
 '09.01.2022': 31.0421,
 '08.01.2022': 31.0421,
 '07.01.2022': 31.0421,
 '06.01.2022': 31.0421,
 '05.01.2022': 30.7739,
 '04.01.2022': 30.9226,
 '03.01.2022': 30.9226,
 '02.01.2022': 30.9226,
 '01.01.2022': 30.9226,
 '31.12.2021': 30.9226,
 '30.12.2021': 30.776,
 '29.12.2021': 30.8401,
 '28.12.2021': 30.8196,
 '27.12.2021': 30.845,
 '26.12.2021': 30.845,
 '25.12.2021': 30.845,
 '24.12.2021': 30.845,
 '23.12.2021': 30.8084,
 '22.12.2021': 30.7859,
 '21.12.2021': 30.7661,
 '20.12.2021': 30.8573,
 '19.12.2021': 30.8435,
 '18.12.2021': 30.8435,
 '17.12.2021': 30.8435,
 '16.12.2021': 30.6186,
 '15.12.2021': 30.534,
 '14.12.2021': 30.3272,
 '13.12.2021': 30.4521,
 '12.12.2021': 30.6773,
 '11.12.2021': 30.6773,
 '10.12.2021': 30.6773,
 '09.12.2021': 30.7698,
 '08.12.2021': 30.7277,
 '07.12.2021': 30.9055,
 '06.12.2021': 30.8277,
 '05.12.2021': 30.9438,
 '04.12.2021': 30.9438,
 '03.12.2021': 30.9438,
 '02.12.2021': 30.8443,
 '01.12.2021': 30.9221,
 '30.11.2021': 30.6481,
 '29.11.2021': 30.5752,
 '28.11.2021': 30.3376,
 '27.11.2021': 30.3376,
 '26.11.2021': 30.3376,
 '25.11.2021': 30.1734,
 '24.11.2021': 30.2354,
 '23.11.2021': 30.0591,
 '22.11.2021': 29.9796,
 '21.11.2021': 29.9688,
 '20.11.2021': 29.9688,
 '19.11.2021': 29.9688,
 '18.11.2021': 29.9974,
 '17.11.2021': 30.0266,
 '16.11.2021': 30.1468,
 '15.11.2021': 29.9007,
 '14.11.2021': 29.9144,
 '13.11.2021': 29.9144,
 '12.11.2021': 29.9144,
 '11.11.2021': 30.1186,
 '10.11.2021': 30.2075,
 '09.11.2021': 30.2026,
 '08.11.2021': 30.0969,
 '07.11.2021': 30.2848,
 '06.11.2021': 30.2848,
 '05.11.2021': 30.2848,
 '04.11.2021': 30.3646,
 '03.11.2021': 30.4903,
 '02.11.2021': 30.4358,
 '01.11.2021': 30.5953,
 '31.10.2021': 30.5032,
 '30.10.2021': 30.5032,
 '29.10.2021': 30.5032,
 '28.10.2021': 30.6447,
 '27.10.2021': 30.6791,
 '26.10.2021': 30.5749}

In [29]:
import pickle

with open('annual_exchange_rate_EURO.bin', 'bw') as f:
    pickle.dump(annual_exchange_rate_EURO, f)

In [ ]:
from io import BytesIO

url = 'https://github.com/pruhlo/data-science-assignment/blob/master/assets/myfile.bin?raw=true'
raw = BytesIO(urlopen(url).read())
D = pickle.load(raw)
print(D == Dict)

3. Вивести середнє значення та відхилення курсу за кожний місяць.

4. Дану інформацію записати у файл за допомогою pickle.

### Завдання 2:

Потрібно проаналізувати всі товари на сайті: 
https://smallpacking.agrosem.ua/shop/

Створіть базу даних, що містить таблицю із такими стовбцями: 
    - артикул товару
    - найменування
    - ціна 
    - вага

### Завдання 3:

Ознайомтеся із роботою SQLite та відповідним модулем у Python.
Завантажте базу даних для виконання лабораторної роботи.
Підключіться до завантаженої бази SQLite.

1. Виведіть інформацію про дану базу.

2. Виведіть перелік всіх таблиць.

3. Список всіх cust_id з таблиці Customers table.

4. Всю таблицю Customers table

5. Список клієнтів (cust_names) відсортованих від Z до A

6. Таблицю клієнтів та замовлень (cust_id і order_num) . Відсортуйте по клієнту і потім по даті замовлення

7. Таблицю (на основі Items) з кількість та вартістю товару. Відсортуйте в порядку спадання по кількості та вартості

8. Товар (з таблиці Products), ціна якого становить 9.49

9. Виведіть назву товару та ціну, яка лежить в діапазоні від  3 до 6. Відсортуйте результат в по ціні в порядку зростання

10. Кількість товару, що було продано

11. Кількість найменувань товару, ціна якого більша за 4

12. Розробіть алгоритм для виведення 3 найдорожчих товарів в базі

13. Підрахуйте кількість замовлень для кожного клієнта використовуючи підзапити

14. Виведіть список клієнтів та їх замовлення (використайте JOIN)

15. Зробіть два запити: список товарів, ціна яких менша 5 та список товарів, ціна який більша рівна 5. Використайте UNION для об'єднання цих запитів

### Завдання 4:

Зареєструйтеся на сайті  http://www.sql-ex.ru/

Виконайте завдання із блоку SELECT; з 1 по 30 завдання

Код запитів вставляйте сюди