___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 4: Work with data professionally!

## Lab work 4

#### Мета: 

* навчитися обробляти дані
* "парсити" сайти

### Завдання 1:

#### Ознайомитися із API Національного банку 
https://old.bank.gov.ua/control/uk/publish/article?art_id=38441973&cat_id=38459171#exchange

1. Підключитися до API.

In [22]:
import requests

url = 'https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json'
params = {'valcode' : 'EUR'} 

response = requests.get(url, params=params)
print(response)

<Response [200]>

2. Отримати курс євро за останній рік.

In [32]:
import time
import datetime as DT
import requests

annual_exchange_rate_EURO = {}

params = {'date' : '20221018', 'valcode' : 'EUR'}#, 'json' : 'json'}
url = 'https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange?json'
date = DT.datetime.now()

for day in range(366):
    params['date'] = (date - DT.timedelta(days=day)).strftime('%Y%m%d')
    try:
        response = requests.get(url, params=params)
        data = response.json()[0]
        annual_exchange_rate_EURO[data['exchangedate']] = data['rate']
        start_time += DT.timedelta(days=day)
        
    except:
        print('error')
        break

In [29]:
import pickle

with open('annual_exchange_rate_EURO.bin', 'bw') as f:
    pickle.dump(annual_exchange_rate_EURO, f)

In [34]:
from io import BytesIO
from urllib.request import urlopen

url = 'https://github.com/pruhlo/data-science-assignment/blob/master/assets/annual_exchange_rate_EURO.bin?raw=true'
raw = BytesIO(urlopen(url).read())
EURO = pickle.load(raw)
# print(EURO)

3. Вивести середнє значення та відхилення курсу за кожний місяць.

In [79]:
import pandas as pd
df = pd.DataFrame.from_dict({'date':EURO.keys(), 'EURO':EURO.values()})
# df

In [90]:
df.date = pd.to_datetime(df.date, errors='coerce')
mean = df.groupby(df.date.dt.month)['EURO'].mean()
std = df.groupby(df.date.dt.month)['EURO'].std()
type(std)

pandas.core.series.Series

In [94]:
d = pd.concat([mean, std], axis=1)

           EURO      EURO
date
1     32.306039  1.539753
2     32.565918  1.643742
3     32.706958  1.558196
4     31.984107  1.652097
5     31.588406  1.786449
6     31.462347  1.833419
7     33.173694  3.442769
8     35.221935  2.698161
9     34.740290  2.446949
10    33.593013  2.588330
11    31.093870  2.008656
12    31.448194  1.863628

4. Дану інформацію записати у файл за допомогою pickle.

### Завдання 2:

Потрібно проаналізувати всі товари на сайті: 
https://smallpacking.agrosem.ua/shop/

Створіть базу даних, що містить таблицю із такими стовбцями: 
    - артикул товару
    - найменування
    - ціна 
    - вага

### Завдання 3:

Ознайомтеся із роботою SQLite та відповідним модулем у Python.
Завантажте базу даних для виконання лабораторної роботи.
Підключіться до завантаженої бази SQLite.

1. Виведіть інформацію про дану базу.

2. Виведіть перелік всіх таблиць.

3. Список всіх cust_id з таблиці Customers table.

4. Всю таблицю Customers table

5. Список клієнтів (cust_names) відсортованих від Z до A

6. Таблицю клієнтів та замовлень (cust_id і order_num) . Відсортуйте по клієнту і потім по даті замовлення

7. Таблицю (на основі Items) з кількість та вартістю товару. Відсортуйте в порядку спадання по кількості та вартості

8. Товар (з таблиці Products), ціна якого становить 9.49

9. Виведіть назву товару та ціну, яка лежить в діапазоні від  3 до 6. Відсортуйте результат в по ціні в порядку зростання

10. Кількість товару, що було продано

11. Кількість найменувань товару, ціна якого більша за 4

12. Розробіть алгоритм для виведення 3 найдорожчих товарів в базі

13. Підрахуйте кількість замовлень для кожного клієнта використовуючи підзапити

14. Виведіть список клієнтів та їх замовлення (використайте JOIN)

15. Зробіть два запити: список товарів, ціна яких менша 5 та список товарів, ціна який більша рівна 5. Використайте UNION для об'єднання цих запитів

### Завдання 4:

Зареєструйтеся на сайті  http://www.sql-ex.ru/

Виконайте завдання із блоку SELECT; з 1 по 30 завдання

Код запитів вставляйте сюди